<%- include("partials/header.ejs") %>

<div class="container">
    <!--Container for all sunrisedata is half the size of the screen height-->
    <div class="half-height d-flex align-items-center">
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <div class="sunrisedata d-flex flex-column align-items-center">
                    <i class="bi bi-sunrise" style="font-size:xx-large"></i>
                    <p>Sunrise</p>
                    <% if (locals.sunrise) { %>
                        <p><%= locals.sunrise %></p>
                    <% } else { %>
                        <p>No sunrise time available</p>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-4" >
            <div class="d-flex justify-content-center">
                <div class="sunupdata d-flex flex-column align-items-center">
                    <i class="bi bi-sun" style="font-size:xx-large"></i>
                    <p>Day length</p>
                    <% if (locals.sun_day) { %>
                        <p><%= locals.sunday %></p>
                    <% } else { %>
                        <p>No day length time available</p>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-4" >
            <div class="d-flex justify-content-center">
                <div class="sundowndata d-flex flex-column align-items-center">
                    <i class="bi bi-sunset" style="font-size:xx-large"></i>
                    <p>Sunset</p>
                    <% if (locals.sun_day) { %>
                        <p><%= locals.sunset %></p>
                    <% } else { %>
                        <p>No sun set time available</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!--Container for all user-data half the size of the screen height-->
    <div class="half-height d-flex">
        <!-- The inputs for latitude and longitude-->
        <div class="d-flex flex-column col-6">
            <form action="/get">
                <label>Required:</label>
                <br><br>
                <label>Position:</label><br>
                <label class="col-2">Latitude:</label><input class="col-4" type="text" id="latitude" name="latitude"></br>
                <label class="col-2">Longitude:</label><input  class="col-4"type="text" id="longitude" name="longitude">
                <br><br>
                <label>Optional:</label>
                <br><br>
                <label>Date:</label></br>
                <label class="col-2">Day</label><input class="col-4" type="text" id="day" name="day"></br>
                <label class="col-2">Month</label><input class="col-4" type="text" id="month" name="month"></br>
                <label class="col-2">Year</label><input class="col-4" type="text" id="year" name="year"></br></br>
                <input class="col-6" type="submit" value="Submit">

            </form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>